.main{
    height: 50vh;
}
.main .options{
    width: 100%;
    height: 70%;
    margin:15% auto;
    background-image: url('./bg-triangle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.main .rock{
    width: 120px;
    height: 120px;
    border: 5px solid black;
    border-radius: 100%;
    position:absolute;
    bottom: -50px;
    left:44%;
    background-image: url('./icon-rock.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center;
}
.main .paper{
    width: 120px;
    height: 120px;
    border: 5px solid black;
    border-radius: 100%;
    position:absolute;
    top: 0;
    right: 0;
    left: 24%;
    background-image: url('./icon-paper.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center;
}
.main .scissors{
    width: 120px;
    height: 120px;
    border: 5px solid black;
    border-radius: 100%;
    position:absolute;
    top: 0;
    right: 0;
    left: 65%;
    background-image: url('./icon-scissors.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center;
}
.main .check div > button{
    position:static !important;
}
.check{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}



@media(max-width:1024px){
    .main .rock{
    width: 120px;
    height: 120px;
    left:40%;
}
.main .paper{
    width: 120px;
    height: 120px;
    left: 0;
}
.main .scissors{
    width: 120px;
    height: 120px;
    left: 80%;
}
}
@media(max-width:768px){
    .main .rock{
    width: 100px;
    height: 100px;
    left:43%;
}
.main .paper{
    width: 100px;
    height: 100px;
    left:100px;
}
.main .scissors{
    width: 100px;
    height: 100px;
    left: 70%;
}
}

@media(max-width:500px){
  .main .rock{
    width: 100px;
    height: 100px;
    left:40%;
}
.main .paper{
    width: 100px;
    height: 100px;
    left:10px;
}
}