.header {
  display: flex;
  justify-content: space-between;
  outline:hsl(217, 16%, 45%);
  border: 5px solid rgba(128, 128, 128, 0.664);
  border-radius: 12px;
  padding: 20px 50px;
}

.header .score {
  text-align: center;
  background-color: white;
  padding: 10px 25px;
  border-radius: 12px;
}
.score h3 {
  color: hsl(229, 64%, 46%);
}
.score h1 {
  color:  hsl(229, 25%, 31%);
}

@media (max-width: 500px) {
  .title img{
    /* width: 100px; */
    height: 70px;
  }
  h3{
    font-size: 14px;
  }
  h1{
    font-size: 20px;
  }
  .header {
    padding: 20px;
  }
  .header .score {
    padding: 10px 20px;
  }
}
