/* .footer {
  float: right;
} */
.footer > button {
  float: right;
  border-radius: 12px;
  padding: 10px 30px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;
}
.footer .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: transparent;
}
.box .model {
  width: 500px;
  height: 450px;
  background-color: white;
}
.box .top {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.box .top h2 {
  color: rgb(128, 128, 128);
}
.box .top h3 {
  color: rgba(128, 128, 128, 0.527);
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.box .model .rules > .img {
  width: 350px;
  height: 280px;
  margin: auto;
  padding: 10px;
  background-image: url('./image-rules.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

@media (max-width: 500px) {
  .box .model {
    width: 340px;
    height: 400px;
    background-color: white;
  }
  .footer > button {
    float: none;
    position: absolute;
    text-align: center;
    bottom: 15px;
    left: 40%;
    padding: 10px;
  }
}
